<!DOCTYPE html>

<html>
	<head>
		<title>Compile for WASM!</title>
		<link rel="stylesheet" type="text/css" href="/style/main.css">
		<link rel="icon" type="image/png" href="/icons/astro_logo.png">
	</head>
	<body>
		<form enctype="multipart/form-data" id="compileform">
			<h1>Upload Code for Compilation:</h1>
			<label for="code" class="filelabel">Upload Code!</label><br>
			<input id="code" name="code" type="file">
		</form>

		<div id="terminal">
			<h1>Code Runtime/Output:</h1>
			<div id="runtime">
				
			</div>
		</div>
	</body>
</html>
