<!DOCTYPE html>

<html>
	<head>
		<title>Kraken</title>
		<link rel="stylesheet" type="text/css" href="/style/main.css">
		<link rel="icon" type="image/png" href="/icons/kraken_notext.png">
	</head>
	<body>
		<div id="eventlistener" style="display: none;"></div>

		<div id="portal">
			<div id="banner-top">
				<img src="/icons/kraken_logo_blue.png">
				<div id="peerid">CONNECTING TO NETWORK...</div>
				<div id="text-log"></div>
			</div>

			<div id="feed">
				
			</div>

			<div id="banner-bottom">
				<div>
					<%- include('./templates/text_upload.ejs') %>
					<%- include('./templates/video_upload.ejs') %>
					<%- include('./templates/image_upload.ejs') %>
					<%- include('./templates/audio_upload.ejs') %>
				</div>

				<div>
					<div class="icon" onclick="showElementDraggable('textupload')">
						<img src="/icons/astro_text.png">
						<p>Make Text!</p>
					</div>

					<div class="icon" onclick="showElementDraggable('videoupload')">
						<img src="/icons/astro_video.png">
						<p>Upload Videos!</p>
					</div>

					<div class="icon" onclick="showElementDraggable('imageupload')">
						<img src="/icons/astro_image.png">
						<p>Upload Images!</p>
					</div>

					<div class="icon" onclick="showElementDraggable('audioupload')">
						<img src="/icons/astro_record.png">
						<p>Upload Audio!</p>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/javascript/tsunami.js"></script>
		<script type="text/javascript" src="/javascript/drag.js"></script>
	</body>
</html>
