<form id="audioupload" class="uploadform">
	<label for="title">Title:</label>
	<input id="title" name="title"><br>

	<label for="audiofile" class="filelabel">Upload Audio</label><br>
	<input id="audiofile" name="audiofile" type="file" accept="audio/*"><br>

	<button type="button" id="audiouploadbtn">Upload to Network!</button>
</form>
