<form id="imageupload" class="uploadform">
	<label for="title">Title:</label>
	<input id="title" name="title"><br>

	<label for="imagefile" class="filelabel">Upload Image</label><br>
	<input id="imagefile" name="imagefile" type="file" accept="image/*"><br>

	<button type="button" id="imageuploadbtn">Upload to Network!</button>
</form>
