<form id="textupload" class="uploadform">
	<label for="title">Title:</label>
	<input id="title" name="title"><br>

	<label for="body">Text Body:</label><br>
	<textarea id="body" name="body"></textarea><br>

	<button type="button">Upload to Network!</button>
</form>
