<form id="videoupload" class="uploadform">
	<label for="title">Title:</label>
	<input id="title" name="title"><br>

	<label for="videofile" class="filelabel">Upload Video</label><br>
	<input id="videofile" name="videofile" type="file" accept="video/*"><br>

	<button type="button" id="videouploadbtn">Upload to Network!</button>
</form>
