body {
	background-color: black;
	font-family: monospace;
}

#portal {
	
}

/*
STYLING THE TOP BANNER
*/

#banner-top {
	width: 90vw;
	height: auto;
	margin: 0 auto;
	text-align: center;
	border: solid var(--green);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: var(--dark-grey);
}

#banner-top img {
	width: 100px;
	height: 100px;
	border: solid var(--green);
	border-radius: 10px;
}

#peerid {
	color: var(--green);
	font-size: 40px;
}

#text-log {
	max-width: 300px;
	max-height: 70px;
	color: var(--green);
	overflow-x: scroll;
	overflow-y: scroll;
	border: solid var(--green);
	padding: 10px;
}

/*
STYPING THE CONTENT FEED
*/

#feed {
	color: var(--green);
	margin: 0 auto;
	text-align: center;
	border: solid var(--green);
	width: 90vw;
	height: 60vh;
	padding: 10px;
	background-color: var(--darkest-grey);
	overflow-y: scroll;
}

#feed .thumbnail {
	width: 600px;
	height: auto;
	border: solid var(--green);
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	background-color: var(--dark-grey);
}

#feed .thumbnail #contenttype {
	width: 50px;
	height: 50px;
	border: solid var(--green);
}

#feed .thumbnail img {
	width: 100%;
	object-fit: contain;
}

#feed .thumbnail video {
	width: 100%;
	object-fit: contain;
}

/*
STYLING THE BOTTOM BANNER
*/

#banner-bottom {
	width: 90vw;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	border: solid var(--green);
	padding: 10px;
	color: var(--green);
	background-color: var(--dark-grey);
}

#banner-bottom > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#banner-bottom .icon {
	background-color: var(--darkest-grey);
	border: solid var(--green);
	padding: 10px;
	font-size: 15px;
}

#banner-bottom .icon:hover {
	transform: scale(1.2);
}

#banner-bottom .icon img {
	width: 50px;
	height: auto;
	border: solid var(--green);
}

#banner-bottom .uploadform {
	text-align: center;
	margin: 0 auto;
	background-color: var(--darkest-grey);
	border: solid var(--green);
	padding: 10px;
	display: none;
	font-size: 20px;
}	

#banner-bottom .uploadform h4 {
	background-color: var(--dark-grey);
	border: solid var(--green);
	padding: 10px;
}

#banner-bottom .uploadform input {
	color: var(--green);
	background-color: var(--dark-grey);
	border: solid var(--green);
	margin: 10px;
}

#banner-bottom .uploadform textarea {
	color: var(--green);
	background-color: var(--dark-grey);
	border: solid var(--green);
	margin: 10px;
}

#banner-bottom .uploadform button {
	border: solid var(--green);
	color: var(--green);
	background-color: var(--dark-grey);
	cursor: pointer;
	margin: 5px;
	padding: 5px;
	font-size: 15px;
}

#banner-bottom .uploadform .filelabel {
	border: solid var(--green);
	background-color: var(--dark-grey);
	padding: 5px;
	margin: 20px;
	cursor: pointer;
}

#banner-bottom .uploadform input[type="file"]{
	display: none;
}
